@import '../../assets/scss/mixins/mixins.scss';
@import '../../assets/scss/variable/variable.scss';
@import '../profile-edit/profile-edit.module.scss';

.span {
  @include fontStyle($grey-grey-7, 12px, 20px);
  margin-top: 8px;
  & a {
    color: $info-color;
  }
}

@media (hover: hover) and (pointer: fine) {
  .span a:hover,
  .span a:focus-visible {
    filter: brightness(1.2);
  }
}
