$background-color-base: #fff;
$text-color: rgba(0, 0, 0, 0.75);
$info-color: #1890ff;

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

:global(.ant-pagination-item) {
  transition: all 0.3s;
  & a {
    color: $text-color !important;
  }
}

:global(.ant-pagination-item-active) {
  background-color: $info-color !important;
  &:hover {
    filter: brightness(1.2);
  }
  & a {
    color: $background-color-base !important;
  }
}

@media screen and (max-width: 480px) {
  :global(.ant-pagination .ant-pagination-item) {
    margin-inline-end: -2px !important;
  }
}
