// .form {
//   max-width: 384px;
//   width: 100%;
//   border-radius: 6px;
//   border: 1px solid var(--grey-grey-5, #d9d9d9);
//   background: var(--grey-grey-1, #fff);
//   box-shadow:
//     0px 0.6088px 2.93329px 0px rgba(0, 0, 0, 0.02),
//     0px 1.46302px 7.04911px 0px rgba(0, 0, 0, 0.03),
//     0px 2.75474px 13.27285px 0px rgba(0, 0, 0, 0.04),
//     0px 4.91399px 23.67649px 0px rgba(0, 0, 0, 0.04),
//     0px 9.19107px 44.28427px 0px rgba(0, 0, 0, 0.05),
//     0px 22px 106px 0px rgba(0, 0, 0, 0.07);
//   padding: 48px 32px;
//   font-family: 'Roboto';
//   font-style: normal;
// }

// .fieldset {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   border: none;
// }

// .title {
//   color: var(--grey-grey-9, #262626);
//   text-align: center;
//   font-size: 20px;
//   font-weight: 500;
//   line-height: 28px; /* 140% */
//   margin-bottom: 21px;
// }

// .label {
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 22px; /* 157.143% */
// }

// .input-label {
//   width: 100%;
//   color: var(--grey-grey-9, #262626);
//   margin-bottom: 12px;
//   &:last-of-type {
//     margin-bottom: 21px;
//   }
// }

// .field {
//   text-align: left;
//   border: 1px solid var(--grey-grey-5, #d9d9d9);
//   background: var(--grey-grey-1, #fff);
//   margin-top: 2px;
// }

// .input {
//   width: 100%;
//   height: 40px;
//   padding: 8px 12px;
//   border-radius: 4px;
//   color: var(--text-color, rgba(0, 0, 0, 0.75));
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 24px;
//   outline: none;
//   &-error {
//     border: 1px solid var(--highlight-color, #f5222d);
//   }
//   &-valid {
//     border: 1px solid var(--success-color, #52c41a);
//   }
//   ::placeholder {
//     color: var(--grey-grey-6, #bfbfbf);
//   }
// }

// .error {
//   color: var(--highlight-color, #f5222d);
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 22px; /* 157.143% */
// }

// .button {
//   text-align: center;
//   border-radius: 4px;
//   background: var(--daybreak-blue-blue-6, #1890ff);
//   color: var(--grey-grey-1, #fff);
//   font-family: 'Roboto';
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 24px; /* 150% */
// }

// .span {
//   margin-top: 8px;
//   color: var(--grey-grey-7, #8c8c8c);
//   font-size: 12px;
//   font-weight: 400;
//   line-height: 20px;
//   & a {
//     color: var(--daybreak-blue-blue-6, #1890ff);
//   }
// }

@import "../profile-sign-in/profile-sign-in.module.scss";

$grey-grey-8: #595959;

.wrapper-checkbox {
  position: relative;
  margin-bottom: 21px;
  padding: 0 32px 0 24px;
  width: 100%;
  height: 44px;
}

.checkbox-label {
  color: $grey-grey-8;
  & input {
    -webkit-appearance: none;
    appearance: none;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $info-color;
      border-radius: 2px;
    }
    &:checked::before {
      content: url('../../assets/images/checkbox.svg');
    }
  }
}

.line {
  margin-bottom: 8px;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans&family=Roboto:wght@500&display=swap');
