@import '../../assets/scss/variable/variable.scss';
@import '../profile-sign-in/profile-sign-in.module.scss';

.wrapper-checkbox {
  position: relative;
  margin-bottom: 21px;
  padding: 0 32px 0 24px;
  width: 100%;
  height: 44px;
}

.checkbox-label {
  color: $grey-grey-8;
  & input {
    -webkit-appearance: none;
    appearance: none;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $info-color;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.3s;
    }
    &:checked::before {
      content: url('../../assets/images/checkbox.svg');
    }
  }
}

.line {
  margin-bottom: 8px;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}

@media (hover: hover) and (pointer: fine) {
  .checkbox-label input:hover::before,
  .checkbox-label input:focus-visible::before {
    filter: drop-shadow(0px 0px 3px $info-color);
  }
}

@media screen and (max-width: 480px) {
  .wrapper-checkbox {
    padding-right: 16px;
  }
  .label.checkbox-label {
    font-size: 13px;
  }
}

@media screen and (max-width: 360px) {
  .wrapper-checkbox {
    padding-right: 0px;
  }
  .label.checkbox-label {
    font-size: 12px;
  }
}
