$Background: #ebeef3;
$container-width: 941px;

.app {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 26px 0;
  max-width: $container-width;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .container {
    padding: 26px;
  }
}

/* Reset */
* {
  box-sizing: border-box;
}
html {
  background-color: $Background;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body,
p,
a,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
button,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}
label,
button {
  cursor: pointer;
}

//Font

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;600&display=swap');
