@import '../../assets/scss/mixins/mixins.scss';
@import '../header-guest-block/header-guest-block.module.scss';

.link-heading {
  color: $heading-color;
  border: 1px solid $heading-color;
}

.link-small {
  padding: 6px 10px;
  height: 32px;
  font-size: 14px;
  line-height: 22px;
}

.link-avatar {
  @include flexStyle(space-between);
  padding: 0;
}

.avatar {
  margin-left: 15px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}

.image {
  @include imageStyle;
}

@media (hover: hover) and (pointer: fine) {
  .link-avatar:hover .avatar, .link-avatar:focus-visible .avatar {
    filter: brightness(1.2);
  }
}

@media screen and (max-width: 768px) {
  .link-avatar {
    font-size: 0;
  }
}

@media screen and (max-width: 576px) {
  .avatar {
    margin: 0;
  }
  .link:not(.link-avatar) {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .link:not(.link-avatar) {
    padding: 0 5px;
    margin-left: 10px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 360px) {
  .link:not(.link-avatar) {
    font-size: 13px;
  }
}
