// $heading-color: rgba(0, 0, 0, 0.85);
// $success-color: #52c41a;

// .link {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   margin-left: 20px;
//   padding: 0 20px;
//   height: 50px;
//   color: $heading-color;
//   border-radius: 5px;
//   font-family: 'Inter';
//   font-size: 18px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 28px;
//   text-decoration: none;
//   &:first-of-type {
//     margin: 0;
//   }
// }

// .link-success {
//   color: $success-color;
//   border: 1px solid $success-color;
// }

@import '../header-guest-block/header-guest-block.module.scss';

.link-heading {
  color: $heading-color;
  border: 1px solid $heading-color;
}

.link-small {
  padding: 6px 10px;
  height: 32px;
  font-size: 14px;
  line-height: 22px;
}

.link-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  &:hover .avatar {
    filter: brightness(1.2);
  }
}

.avatar {
  margin-left: 15px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .link-avatar {
    font-size: 0;
  }
}

@media screen and (max-width: 576px) {
  .avatar {
    margin: 0;
  }
  .link:not(.link-avatar) {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .link:not(.link-avatar) {
    padding: 0 5px;
    margin-left: 10px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 360px) {
  .link:not(.link-avatar) {
    font-size: 13px;
  }
}