$heading-color: rgba(0, 0, 0, 0.85);
$success-color: #52c41a;
$info-color: #1890ff;

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  padding: 0 20px;
  height: 50px;
  color: $heading-color;
  border-radius: 5px;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  transition: all 0.5s;
  &:first-of-type {
    margin: 0;
  }
  // &:hover {
  //   color: $info-color;
  //   border-color: $info-color;
  // }
}

.link-success {
  color: $success-color;
  border: 1px solid $success-color;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: $info-color;
    border-color: $info-color;
  }
}

@media screen and (max-width: 576px) {
  .link {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .link {
    padding: 0 5px;
    margin-left: 10px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 360px) {
  .link {
    font-size: 13px;
  }
}
