@import '../../assets/scss/mixins/mixins.scss';
@import '../../assets/scss/variable/variable.scss';

.link {
  @include flexStyle(flex-start);
  @include fontStyle($heading-color, 18px, 28px);
  margin-left: 20px;
  padding: 0 20px;
  height: 50px;
  border-radius: 5px;
  font-family: 'Inter';
  text-decoration: none;
  transition: all 0.5s;
  &:first-of-type {
    margin: 0;
  }
}

.link-success {
  color: $success-color;
  border: 1px solid $success-color;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover,
  .link:focus-visible {
    color: $info-color;
    border-color: $info-color;
  }
}

@media screen and (max-width: 576px) {
  .link {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .link {
    padding: 0 5px;
    margin-left: 10px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 360px) {
  .link {
    font-size: 13px;
  }
}
